.cardInfo{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 1.5em .5em;
    background-color: #00000050;
    border-radius: .5em;
    color: #fff;
    box-shadow: 5px 5px 0 0 #00000090;
    text-align: center;
    margin-bottom: 3em;
}

.cardInfo_title{
    color: var(--text);
    margin-bottom: .5em;
}
.cardInfo_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 13px;

}

.cardInfo_item{
    width: 100%;
}

.cardInfo_item-data{
    color: #999;
}

@media screen and (min-width: 768px) {
    .cardInfo{
        max-width: 400px;
    }
    .cardInfo_container{
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .cardInfo{
        max-width: 700px;
    }
    .cardInfo_container{
        font-size: 20px;
    }
}